@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

h3 {
  margin-bottom: 0;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

i,
span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

/* Colorado Flag Colors */
/* #032A66 Blue */
/* #BD1134 Red */
/* #FED530 Yellow */
/* #FFFFFF White */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: rgba(3, 42, 102, 0.91);
    color: #FED530;
    text-align: center;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    /* margin-bottom: 5px; */
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #BD1134;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

/* #sidebar ul li a:hover {
    color: #BD1134;
    background: #BD1134;
} */

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    /* color: #BD1134;
    background: #BD1134; */
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    /* font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #BD1134; */
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    /* margin-bottom: 5px; */
}

/* a.download {
    background: #BD1134;
    color: #BD1134;
} */

/* a.article,
a.article:hover {
    background: #BD1134 !important;
    color: #BD1134 !important;
} */

/*=================================================
    NAVIGATION & BUTTONS
=================================================*/
  
  /* Buttons */
  .btn-submit,
  .btn-back-to-top {
    color: #052230 !important;
    -webkit-transition: background-color 0.4s ease-out 0.1s, color 0.4s ease-out 0.1s;
    transition: background-color 0.4s ease-out 0.1s, color 0.4s ease-out 0.1s;
  }
  
  .btn-back-to-top {
    border-color: #052230;
    position: fixed;
    display: none;
    bottom: 20.75px;
    right: 20.75px;
  }
  
  .btn-back-to-top:hover {
    background-color: #052230;
    color: #fbfefb !important;
  }
  
  .btn-submit {
    border-color: #b1b1b1;
  }
  
  .btn-submit:hover {
    background-color: #b6d39f;
    color: #052230;
    border-color: #052230;
  }
  
  /* Unvisited link */
  a:link {
    color: #ffffff;
  }
  
  /* Visited link */
  a:visited {
    color: #ffffff;
  }
  
  /* Mouse over link */
  a:hover {
    color: #BD1134;
  }
  
  /* Selected link */
  a:active {
    color: #BD1134;
  }

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    /* padding: 20px; */
    min-height: 100vh;
    transition: all 0.3s;
}

/*================================================
    HOME
=================================================*/
#particles-js:not(.bg-body) {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 50vh;
  }

  #particles-js-lower {
    height: 50vh;
  }

  #particles-js-lower::after {
    content: "";
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

  .home-body-lower {
    padding-top: 10%;
    text-align: center;
    width: 100%;
  }

  .home-body-lower h1 {
    font-size: 3.5rem;
  }

  .home-body-lower h3 {
    font-size: 2.5rem;
  }

  /* Arrow */
.arrow {
    color: #052230;
    margin-top: 2.5%;
    bottom: 0;
    height: 85px;
    text-align: center;
  }
  
  .arrow svg {
    width: 100px;
    height: 100px;
    animation: fadein 7.5s;
    -moz-animation: fadein 7.5s;
    /* Firefox */
    -webkit-animation: fadein 7.5s;
    /* Safari and Chrome */
    -o-animation: fadein 7.5s;
    /* Opera */
  }
  
  .bounce {
    animation: bounce 4s infinite;
    -moz-animation: bounce 4s infinite;
    -webkit-animation: bounce 4s infinite;
  }

  .typed {
    display: inline-block;
  }
  
  /* blinking animation */
  .typed::after {
    content: " |";
    display: inline-block;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
  }
  
  /* Fade in */
  @keyframes fadein {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @-moz-keyframes fadein {
    /* Firefox */
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @-o-keyframes fadein {
    /* Opera */
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Cursor animation */
  @keyframes blink {
    0% {
      opacity: 1;
    }
  
    50% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes blink {
    0% {
      opacity: 1;
    }
  
    50% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @-moz-keyframes blink {
    0% {
      opacity: 1;
    }
  
    50% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  
/*=================================================
    H3 & PADDING FOR PROFILE, PROJECT, SKILL, EDUCATION, RECO-AFFI, CONTACT
    SKILL & EDUCATION ALL
=================================================*/
#profile-body,
#paragraph-body,
.stats-body,
#contact,
#footer {
  padding-left: 7.5%;
  padding-right: 7.5%;
}

#section-title h3 {
    padding-left: 7.5%;
}

.stats-item {
    padding-top: 7.5%;
    padding-bottom: 7.5%;
    text-align: center;
}

.stats-item p {
    margin-bottom: 0;
}

#section-title h3 {
  padding-top: 70px;
  padding-bottom: 24px;
  font-weight: 600;
  font-size: 42px;
  margin-bottom: 0px;
  color: #052230;
}

.section-card {
    padding-left: 7.5%;
    padding-right: 7.5%;
}

/*=================================================
    CONTACT / FOOTER
=================================================*/
#contact,
#footer {
  padding-top: 70px;
  width: 100%;
  font-size: 1.1em;
  bottom: 0;
}

#contact-body {
  padding-right: 0px; 
  padding-left: 10%;
}

#contact-title h3 {
  padding-bottom: 24px;
  font-weight: 600;
  font-size: 42px;
  margin-bottom: 0px;
  color: #052230;
}

.contact-text {
  font-size: 0.8em;
  margin-bottom: 15.75px;
}

/* Contact block effect */
/* .contact-outer-color-block {
  overflow: hidden; 
  position: absolute; 
  width: 100%; 
  height: 800px;
} */

/* .contact-inner-color-block {
  width: 150%; 
  height: 150%; 
  background-color: #F5F2EF;
  position: absolute; 
  left: -35px; 
  -webkit-transform: rotate(-3deg);
} */

.contact-form-block {
  padding: 0 !important; 
  border-right: 1px solid rgba(0,0,0,.1);
}

.form-block {
  max-width: 585px;
}

/* Contact greeting */
.contact-greeting {
  align-items: center; 
  padding-right: 0px;
}

/* Form */
.form-control {
  color: #052230;
  background-color: #fcfbfa;
  border-color: #b1b1b1;
}

.selector-and-message {
  position: relative;
}

#submit-btn {
  margin-top: 19.5px !important;
}

.first-name-box {
  margin-top: 10.5px !important;
}

.email-box {
  margin-bottom: 0px !important;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Contact icons */
.list-inline-item {
  margin-bottom: 0px;
}

#contact .fab {
  margin: 5px 15px;
  bottom: 0;
  color: #052230;
  position: relative;
  transition: all 0.25s ease-in-out;
}

#contact .fa-github-square:hover {
  color: #6e5494;
  bottom: 5px;
}

#contact .fa-google-drive:hover {
  color: #3d6ec9;
  bottom: 5px;
}

#contact .fa-linkedin:hover {
  color: #0077b5;
  bottom: 5px;
}

/* Floating labels effect */
.inputBox {
  position: relative;
}

.inputBox input {
  margin-bottom: 30px;
}

.inputBox label {
  position: absolute;
  top: -2px;
  left: 12px;
  padding: 10px 0;
  font-size: 16px;
  color: #052230;
  pointer-events: none;
  transition: 0.5s;
}

.inputBox input:focus ~ label,
.inputBox input:valid ~ label {
  top: -30px;
  left: 0px;
  color: #052230;
  font-size: 12px;
}

.form-control:focus,
.form-control:active {
  box-shadow: none;
  border-color: #052230;
}

/* Footer block effect */
/* .footer-outer-color-block {
  overflow: hidden; 
  position: absolute; 
  width:100%; 
  background-color: #ECE5E0;
}

.footer-inner-color-block {
  width: 150%; 
  height: 200%; 
  background-color: #DDD1C7; 
  position: absolute; 
  left: -35px; 
  top: 70px; 
  -webkit-transform: rotate(3deg);
} */

.footer-container {
  margin-top: 0px;
}

/* // herer */